
/* ------------------------ Standart--------------------- */
.font18 { font-size:18px;}
.marginr10  {margin-right: 10px;}
/* ------------------------ Standart --------------------- */
html, body {
    height: 100%;
}
#wrap {
    height: auto !important;
    margin: 0 auto -60px;
    min-height: 100%;
}
#push, #footer {
    height: 60px;
}
#footer {
    background-color: #F5F5F5;
}
#copyright {margin-top: 20px;}
/***************************** Шапка страницы *********************************/
#header{
    margin-bottom: 10px;
    padding: 5px 0 0;
}
#header .navbar ul li a { padding: 5px 10px;}
#header .navbar ul li .active { background:none;}
#header div a.btn { font-size:12px; margin-top:2px;}
#header .nav-collapse .nav { width: 790px;}
#header .nav { margin:0px;}

.reg {
    margin-left: 10px;
    padding: 5px 0 !important;
}
#page{ padding-bottom:20px; }

/********************************* Правый Сайдбар ************************************/
#left .module,
#right .module,
#main .module {margin-bottom:20px;}
#main .moduletitle{
    font-size: 22px;
    margin-bottom: 10px;
}
#main .module {margin-left:20px;}
#left .moduletitle,
#right .moduletitle,
#subfooter .moduletitle {
font-size: 18px;
margin-bottom: 10px;
}
#main .separator,
#left .separator,
#right .separator,
#subfooter .separator {
    background-color: #DDDDDD;
    border-right: 50px solid #F47E00;
    height: 1px;
    margin:5px 0 0;
    padding: 0;
}
/*** com_users_profile ***/
.usr_avatar{
    margin-bottom: 10px;
    width: 210px;
    display: block;
    position: relative;
}
.usr_profile_menu li a {
    color: #000000;
    display: block;
    overflow: hidden;
    padding: 4px 0 4px 10px;
}
.usr_ava_name {
    background-color: #1E2E38;
    background-image: -moz-linear-gradient(center top , #1D2E39, #202D36);
    background-repeat: repeat-x;
    color: #FFFFFF;
    padding: 10px;
    position: relative;
	width:190px;
    text-align: right;
	margin-bottom: -4px;
}
.set-status {
	width:400px;
}
.usr_ava_name:hover .set-status {display: block; }
.set-avatar {
    background: rgba(0, 0, 0, 0.7);
    bottom: 5px;
    display: none;
    left: 5px;
    padding: 4px 11px;
    position: absolute;
    right: 5px;
}

.set-avatar a {color: #FFF;}
.set-avatar a:hover {color: #26AEDD; text-decoration:none;}
.set-avatar a:hover [class^="bac-"]{background-image:url(../img/icon-sprite-blue-p.png);}
.img-polaroid:hover .set-avatar {display: block; }
/*** #profiletabs ***/
#profiletabs {
margin-top: 20px;
}
#profiletabs .usr_wall_header{ margin-top: 10px;}

.ui-tabs-nav {
margin-bottom: 6px;
margin-top:7px;
list-style:none;
}
.ui-tabs-nav:before,
.ui-tabs-nav:after{
  display: table;
  line-height: 0;
  content: "";
}
.ui-tabs-nav:after {
  clear: both;
}
.ui-tabs-nav li {
float:left;
}
.ui-tabs-nav li a{
  padding-right: 12px;
  padding-left: 12px;
  margin-right: 2px;
  line-height: 14px;
  padding-top: 8px;
  padding-bottom: 8px;
  line-height: 20px;
  text-decoration:none;
  border: 1px solid transparent;
  -webkit-border-radius: 4px 4px 0 0;
     -moz-border-radius: 4px 4px 0 0;
          border-radius: 4px 4px 0 0;
}
.ui-tabs-nav li a:hover{
  background-color: #eee;
}
.ui-tabs-nav .ui-tabs-active a{
  color: #555555;
  cursor: default;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
  outline: none;
}

.ui-tabs-disabled {
    opacity: .4;
    filter: alpha(opacity=40);
}
.ui-tabs-panel {
    border-top: 1px solid #ddd;
    padding: 1em 8px;
    background: #fff;
}
.ui-tabs-loading em {
    padding: 0 0 0 20px;
    background: url(loading.gif) no-repeat 0 50%;
}
/*** #profiletabs ***/
/*** Search mod***/
#search_form .input-append .btn-group .ajaxlink {border-radius:0px;}

/*--------------------------- MODULE "POLLS" ---------------------------------*/
.mod_poll .progress {
    height: 15px;
    margin-bottom: 10px;
}
/*--------------------------- MODULE "Respect" ---------------------------------*/
.mod-respect {
    font-size: 16px;
}

/*--------------------------- MODULE "Blogs" ---------------------------------*/
.blogsmod  ul li.blog-item {
    border-bottom: 1px dashed #E5E5E5;
    margin: 10px 0;
}

.blogsmod  ul li.blog-item:before, .blogsmod  ul li.blog-item:after {
    content: "";
    display: table;
    line-height: 0;
}
.blogsmod  ul li.blog-item:after {
    clear: both;
}
.blogsmod  ul li.blog-item > a {
    display: block;
    float: left;
    height: 60px;
    margin: 0 10px 0 0;
    overflow: hidden;
    padding: 4px;
    width: 60px;
}
.blogsmod ul li.blog-item div a {
font-weight:bold;
}
.blogsmod  ul li.blog-item:last-child {
    border:none;
    margin-bottom: 0;
}
.blogsmod ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
/*--------------------------- MODULE "Photo" ---------------------------------*/
.mod-photo {
  float: left;
  min-height: 1px;
  margin-left: 20px;
  text-align:center;
  margin-bottom: 10px;
}
/* ------------------------ MODULE "LATEST BOARD ITEMS" --------------------- */
.new_board_items li{
    list-style:none;
    margin:0px;
	margin-bottom:5px;
}
.new_board_items li.vip a{
    color:#ED8115;
    font-weight:bold;
}
.new_board_items{
	padding:0px;
	margin:0px;
}
.board_city{
    color:#888;
}
/* ------------------------ MODULE "UC_RANDON" --------------------- */
.uc_random {
    padding: 3px 0;
	margin-bottom: 20px;
}
.inline100  {
    margin-bottom: 10px;
    margin-top: 5px;
    vertical-align: top;
}
.inline3  { 
    margin-bottom: 10px;
    margin-top: 5px;
    width: 220px;
    vertical-align: top;
}
.form-horizontal #multiuserscfg .controls { margin-left:0px !important;}
#club_config_form  #limits .control-label { width: 250px;}
#club_config_form  #limits .controls { margin-left: 260px;}

/*------------------------- COMPONENT ------------------------------*/
.component {
    margin-bottom:20px;
    overflow:hidden;
}
.con_heading {
    font-size: 28px;
    font-weight: normal;
    line-height: 38px;
    margin: 10px 0;
}
